{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Página de filtros para evaluar a los candidatos presidenciales, congresales y del parlamento andino">
  <meta name="keywords" content="Elegimos Peru, elegimos.pe, filtros, elecciones peru 2021, elegimos peru, voto informado">
  <!-- Twitter Card data -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@ElegimosP">
  <meta name="twitter:title" content="Elegimos">
  <meta name="twitter:description" content="Página de filtros para evaluar a los candidatos presidenciales, congresales y del parlamento andino">
  <meta name="twitter:creator" content="@ElegimosP">
  <!-- Twitter Summary card images must be at least 120x120px -->
  <meta name="twitter:image" content="https://i.ibb.co/1vhCxxf/bandera2.jpg">

  <!-- Open Graph data -->
  <meta property="og:title" content="Elegimos" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="http://www.elegimos.pe/" />
  <meta property="og:image" content="https://i.ibb.co/1vhCxxf/bandera2.jpg" />
  <meta property="og:description" content="Página de filtros para evaluar a los candidatos presidenciales, congresales y del parlamento andino" />
  <meta property="og:site_name" content="Elegimos" />
  <link rel="icon" type="image/png" href="{% static "images/logos/ELEGIMOS_favicon.png" %}">
  <style>
    *::selection {
      background-color: rgba(213, 142, 142, 1) !important;
    }
    ::-webkit-scrollbar {
      width: 0.5em;
    }
    ::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
    }
    ::-webkit-scrollbar-thumb {
      background-color: #ccc;
    }
  </style>
  {% block css %}
  {% endblock %}
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-2H6XYN0PQW"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    
    gtag('config', 'G-2H6XYN0PQW');
  </script>
</head>
	{% block content %}
  {% endblock %}
  <script src="https://cdn.jsdelivr.net/npm/uikit@latest/dist/js/uikit.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/uikit@latest/dist/js/uikit-icons.min.js"></script>
  {% block js %}
  {% endblock %}
</body>
</html>