{% extends "elecciones/base.html" %}
{% block title %}Hoja de vida{% endblock %}
{% load static %}
{% block css %}
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.6.16/dist/css/uikit.min.css" />
  <link type="text/css" href="{% static "css/main.css" %}" rel="stylesheet">
	<link type="text/css" href="{% static "css/base.css" %}" rel="stylesheet">
	<link type="text/css" href="{% static "css/loader.css" %}" rel="stylesheet">
{% endblock %}
{% block content %}
<body id="top">
	<!-- header
	================================================== -->
	<header>
		<nav class="uk-navbar-container" uk-navbar>
			<div class="row uk-margin-remove">
				<div class="top-bar"> 
					<div class="uk-container uk-flex">
						<div class="uk-navbar-left">
							<ul class="uk-navbar-nav">
								<li><a class="nav_opt" href="{% url 'elecciones:mainpage' %}">Inicio</a></li>
								<li>
									<a class="nav_opt" href="#" data-uk-icon="chevron-down">Análisis</a>
									<div class="uk-navbar-dropdown">
										<ul class="uk-nav uk-navbar-dropdown-nav">
											<li>
												<a class="nav_opt" href="{% url 'elecciones:analisisGraficos' %}" onclick="activar_candidatos(this.text)">Análisis Gráficos</a>
											</li>
											<li>
												<a class="nav_opt" href="{% url 'elecciones:analisisIA' %}" onclick="activar_candidatos(this.text)">Análisis IA</a>
											</li>
										</ul>
									</div>
								</li>
								<li>
									<a class="nav_opt" href="#" data-uk-icon="chevron-down">Búsqueda</a>
									<div class="uk-navbar-dropdown">
										<ul class="uk-nav uk-navbar-dropdown-nav">
											<li>
												<a class="nav_opt" href="#" onclick="activar_candidatos(this.text)">Presidencial</a>
											</li>
											<li>
												<a class="nav_opt" href="#" onclick="activar_candidatos(this.text)">Congresales</a>
											</li>
											<li>
												<a class="nav_opt" href="#" onclick="activar_candidatos(this.text)">Parlamento Andino</a>
											</li>
											<li>
												<a class="nav_opt" href="#" onclick="activar_organizaciones(this.text)">Organización Política</a>
											</li>
										</ul>
									</div>
								</li>
							</ul>
						</div>
						<div class="uk-navbar-right">
							<a class="menu-toggle" href="#"><span>Menu</span></a>
							<nav id="main-nav-wrap">
								<ul class="main-navigation">
									<li class="current"><a class="smoothscroll" href="#intro" title="">INICIO</a></li>
									<li><a class="smoothscroll" href="#about" title="">1. DATOS PERSONALES</a></li>
									<li><a class="smoothscroll" href="#experiencia" title="">2. EXPERIENCIA LABORAL</a></li>
									<li><a class="smoothscroll" href="#formacion" title="">3. FORMACIÓN ACADÉMICA</a></li>
									<li><a class="smoothscroll" href="#cargos" title="">4. CARGOS DE ELECCIÓN POPULAR</a></li>
									<li><a class="smoothscroll" href="#renuncias" title="">5. RENUNCIAS EFECTUADAS A OTROS PARTIDOS</a></li>
									<li><a class="smoothscroll" href="#sentencias" title="">6. RELACIÓN DE SENTENCIAS</a></li>
									<li><a class="smoothscroll" href="#ingresos" title="">7. INGRESOS</a></li>
									<li><a class="smoothscroll" href="#bienes-inmuebles" title="">8. BIENES INMUEBLES</a></li>
									<li><a class="smoothscroll" href="#bienes-muebles" title="">9. BIENES MUEBLES</a></li>
									<li><a class="smoothscroll" href="#informacion-adicional" title="">10. INFORMACIÓN ADICIONAL</a></li>
								</ul>
							</nav>
						</div>
					</div>
				</div>
			</div>
		</nav>
	</header>

	{% for n in nombre %}
	<section id="intro" style="background-image: url({{n.url}});">
		<div class="intro-overlay"></div>
		<div class="intro-content">
			<div class="row">
				<div class="uk-padding-small">
						<h1>{{n.candidato}}</h1>
						<br>
						<!--
					<p class="intro-position">
						<span>Front-end Developer</span>
						<span>UI/UX Designer</span >
						</p>
					-->
					<a class="button stroke smoothscroll" href="#about" title="">Conoce al candidato</a> </div>
				</div>
			</div>
			<!--
				<ul class="intro-social">
					<li><a href="#"><i class="fa fa-facebook"></i></a></li>
      <li><a href="#"><i class="fa fa-behance"></i></a></li>
      <li><a href="#"><i class="fa fa-twitter"></i></a></li>
      <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
      <li><a href="#"><i class="fa fa-instagram"></i></a></li>
    </ul>
  -->
	</section>
	{% endfor %}
	
	<section id="about">
		<div class="col-twelve resume-header">
			<h2>1. Datos personales</h2>
		</div>
			<!--
		<div class="intro-info">
			<img src="images/profile-pic.jpg" alt="Profile Picture">
		</div>
		-->
		<div class="row section-intro">
			<div class="col-twelve resume-header">
				<div class="blocktext">
					<div class="uk-grid uk-text-center" uk-grid>
						<div class="uk-width-1-2@m uk-width-1-1@s">
							<ul class="info-list uk-text-center@s uk-text-left@m uk-padding-remove">
								<div class="uk-margin-medium-bottom">
									{% for candidato in datos_personales %}
										{% if candidato.url %}
											<img src="{{ candidato.url }}" alt="{{ candidato.candidato }}" class="uk-margin-bottom candidato_img">
										{% else %}
											<img src="{% static "images/candidato_img.png" %}" alt="{{ candidato.candidato }}" class="uk-margin-bottom candidato_img">
										{% endif %}
										<li style="text-decoration: underline;">
											<strong class="about-title">
												Datos
											</strong>
										</li>
										{% if candidato.nombres %}
											<li>
												<strong>Nombres</strong>
												<br>
												<span>
													{{candidato.candidato}}
												</span>
											</li>
										{% endif %}
										{% if candidato.dni_candidato %}
											<li>
												<strong>DNI</strong>
												<br>
												<span>
													{{candidato.dni_candidato}}
												</span>
											</li>
										{% endif %}
										{% if candidato.fecha_nacimiento %}
											<li>
												<strong>Fecha de nacimiento</strong>
												<br>
												<span>
													{{candidato.fecha_nacimiento}}
												</span>
											</li>
										{% endif %}
										{% if candidato.sexo %}
											<li>
												<strong>Sexo</strong>
												<br>
												<span>
													{{candidato.sexo}}
												</span>
											</li>
										{% endif %}
										{% if candidato.carnet_extranjeria %}
											<li>
												<strong>Canet de extranjería</strong>
												<br>
												<span>
													{{candidato.carnet_extranjeria}}
												</span>
											</li>
										{% endif %}
									{% endfor %}
								</div>
							</ul>
						</div>
						<div class="uk-width-1-2@m uk-width-1-1@s">
							<ul class="info-list uk-text-center@s uk-text-left@m uk-padding-remove">
								<div class="uk-margin-medium-bottom">
									{% for candidato in datos_personales %}
										<li style="text-decoration: underline;">
											<strong class="about-title">
												Cargos
											</strong>
										</li>
										{% for candidato in cargo_eleccion %}
											<li>
												{% if cargo_eleccion|length > 1 %}
													<strong>Cargo al que postula</strong>
													<br>
													<span>
														{{candidato.cargo_eleccion}}
													</span>
												{% else %}
													<strong>Cargo al que postula</strong>
													<br>
													<span>
														{{candidato.cargo_eleccion}}
													</span>
												{% endif %}
											</li>
										{% endfor %}
										{% if candidato.organizacion_politica %}
											<li>
												<strong>Organización política</strong>
												<br>
												<span>
													{{candidato.organizacion_politica}}
												</span>
											</li>
										{% endif %}
									{% endfor %}
								</div>
								<div class="uk-margin-medium-bottom">
									<li style="text-decoration: underline;">
										<strong class="about-title">
											Origen
										</strong>
									</li>
									{% for candidato in datos_personales %}
										{% if candidato.pais_nacimiento %}
											<li>
												<strong>País de nacimiento</strong>
												<br>
												<span>
													{{candidato.pais_nacimiento}}
												</span>
											</li>
										{% endif %}
										{% if candidato.departamento_nacimiento %}
											<li>
												<strong>Departamento de nacimiento</strong>
												<br>
												<span>
													{{candidato.departamento_nacimiento}}
												</span>
											</li>
										{% endif %}
										{% if candidato.provincia_nacimiento %}
											<li>
												<strong>Provincia de nacimiento</strong>
												<br>
												<span>
													{{candidato.provincia_nacimiento}}
												</span>
											</li>
										{% endif %}
										{% if candidato.distrito_nacimiento %}
											<li>
												<strong>Distrito de nacimiento</strong>
												<br>
												<span>
													{{candidato.distrito_nacimiento}}
												</span>
											</li>
										{% endif %}
									{% endfor%}
								</div>
								<div class="uk-margin-medium-bottom">
									<li style="text-decoration: underline;">
										<strong class="about-title">
											Domicilio
										</strong>
									</li>
									{% for candidato in datos_personales %}
										{% if candidato.departamento_domicilio %}
											<li>
												<strong>Departamento de domicilio</strong>
												<br>
												<span>
													{{candidato.departamento_domicilio}}
												</span>
											</li>
										{% endif %}
										{% if candidato.provincia_domicilio %}
											<li>
												<strong>Provincia de domicilio</strong>
												<br>
												<span>
													{{candidato.provincia_domicilio}}
												</span>
											</li>
										{% endif %}
										{% if candidato.distrito_domicilio %}
											<li>
												<strong>Distrito de domicilio</strong>
												<br>
												<span>
													{{candidato.distrito_domicilio}}
												</span>
											</li>
										{% endif %}
										{% if candidato.direccion_domicilio %}
											<li>
												<strong>Dirección de domicilio</strong>
												<br>
												<span>
													{{candidato.direccion_domicilio}}
												</span>
											</li>
										{% endif %}
									{% endfor %}
								</div>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="experiencia" class="grey-section">
		<div class="col-twelve resume-header">
			<h2>2. Experiencia Laboral</h2>
		</div>
		<div class="row section-intro">
			<div class="col-twelve resume-header">
				<div class="blocktext formacion">
					<ul class="info-list uk-margin-small-bottom">
						<li>
							<strong>¿Tiene experiencia laboral?</strong>
							<br>
							{% for experiencia in ifexpe %}
								<span>
									{{experiencia.tiene_experiencia_laboral}}
								</span>
							{%  endfor %}
						</li>
						</li>
					</ul>
					<div class="row">
						<div class="col-twelve">
							<div class="timeline-wrap">
								{% for experiencia in experiencia_laboral %}
									{% if experiencia.tiene_experiencia_laboral%}
										<div class="timeline-block inmueble">
											<div class="timeline-ico">
												<i class="fa fa-briefcase"></i>
											</div>
											<div class="timeline-header">
												<h3>{{experiencia.ocupacion}}</h3>
												<p>{{experiencia.desde_anhio}} - {{experiencia.hasta_anhio}} </p>
											</div>
											<div class="timeline-content">
												<ul class="info-list uk-text-left">
													{% if experiencia.centro_laboral %}
														<li>
															<strong>Centro Laboral</strong>
															<span>
																{{experiencia.centro_laboral}}
															</span>
														</li>
													{% endif %}
													{% if experiencia.direccion_laboral %}
														<li>
															<strong>Dirección del centro laboral</strong>
															<span>
																{{experiencia.direccion_laboral}}
															</span>
														</li>
													{% endif %}
													{% if experiencia.ruc_empresa_laboral %}
														<li>
															<strong>RUC de la empresa</strong>
															<span>
																{{experiencia.ruc_empresa_laboral}}
															</span>
														</li>
													{% endif %}
													{% if experiencia.pais_laboral %}
														<li>
															<strong>País</strong>
															<span>
																{{experiencia.pais_laboral}}
															</span>
														</li>
													{% endif %}
													{% if experiencia.departamento_laboral %}
														<li>
															<strong>Departamento</strong>
															<span>
																{{experiencia.departamento_laboral}}
															</span>
														</li>
													{% endif %}
													{% if experiencia.provincia_laboral %}
														<li>
															<strong>Provincia</strong>
															<span>
																{{experiencia.provincia_laboral}}
															</span>
														</li>
													{% endif %}
												</ul>
											</div>
										</div>
									{% endif %}
								{% endfor %}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="formacion">
		<div class="row section-intro">
			<div class="col-twelve resume-header">
				<h2>3. Formación Académica</h2>
			</div>
			<div class="col-twelve">
				<div class="blocktext formacion">
					<h2 class="form-control uk-margin-small-bottom">Educación Básica Regular</h2>
					{% for basica in educacion_basica %}
						<ul class="info-list uk-margin-small-bottom">
							<li>
								<strong>¿Concluyó estudios primarios?</strong>
								<br>
								{% if basica.concluyo_primaria == "NULL" %}
									<span>
										NO
									</span>
								{% else %}
									<span>
										{{basica.concluyo_primaria}}
									</span>
								{% endif %}
							</li>
							<li>
								<strong>¿Concluyó estudios secundarios?</strong>
								<br>
								{% if basica.concluyo_secundaria == "NULL" %}
								<span>
									NO
								</span>
								{% else %}
									<span>
										{{basica.concluyo_secundaria}}
									</span>
								{% endif %}
							</li>
						</ul>
					{% endfor %}
				</div>
				<hr>
			</div>
			<div class="col-twelve">
				<div class="blocktext formacion">
					<h2 class="form-control uk-margin-small-bottom">Estudios Técnicos</h2>
					{% for estudio in estudio_tecnico %}
						<ul class="info-list uk-margin-small-bottom">
							<li>
								<strong>¿Tiene estudios técnicos?</strong>
								<br>
								{% if estudio.tiene_estudio_tecnico == "SI" %}
									<span>
										{{estudio.tiene_estudio_tecnico}}
									</span>
								{% else %}
									<span>
										NO
									</span>
								{% endif %}
							</li>
						</ul>
					{% endfor %}
					{% if estudios_en_institutos%}
						<div class="row">
							<div class="col-twelve">
								<div class="timeline-wrap">
									{% for estudioinsti in estudios_en_institutos %}
										{% if estudioinsti.carrera_tecnica != "NULL" %}
											<div class="timeline-block">
												<div class="timeline-ico">
													<i class="fa fa-graduation-cap"></i>
												</div>
											<div class="timeline-header">
												{% if estudioinsti.carrera_tecnica != "NULL" %}
													<h3>{{estudioinsti.carrera_tecnica}}</h3>
												{% endif %}
												{% if estudioinsti.concluyo_estudio_tecnico != "NULL" %}
													<p>Concluyó estudios: {{estudioinsti.concluyo_estudio_tecnico}}</p>
												{% endif %}
											</div>
											<div class="timeline-content">
												<ul class="info-list uk-text-left">
													{% if estudioinsti.centro_estudio_tecnico != "NULL" %}
													<li>
														<strong>Centro de estudios</strong>
														<br>
														<span>
															{{estudioinsti.centro_estudio_tecnico}}
														</span>
													</li>
													{% endif %}
													{% if estudioinsti.comentario_estudio_tecnico != "NULL"%}
													<li>
														<strong>Comentario</strong>
														<br>
														<span>
															{{estudioinsti.comentario_estudio_tecnico}}
														</span>
													</li>
													{% endif %}
												</ul>
											</div>
										</div>
									{% endif %}
									<!-- /timeline-block -->
									{% endfor %}
								</div>
								<!-- /timeline-wrap -->
							</div>
						</div>
					{% endif %}
				</div>
				<hr>
			</div>
			<div class="col-twelve">
				<div class="blocktext formacion">
					<h2 class="form-control uk-margin-small-bottom">Estudios No Universitarios</h2>
					{% for estudio in estudio_no_univ %}
						<ul class="info-list uk-margin-small-bottom">
							<li>
								<strong>¿Tiene estudios no universitarios?</strong>
								<br>
								{% if estudio.tiene_estudio_no_unive == "SI" %}
									<span>
										{{estudio.tiene_estudio_no_universitario}}
									</span>
								{% else %}
									<span>
										NO
									</span>
								{% endif %}
							</li>
						</ul>
					{% endfor %}
					<div class="row">
						<div class="col-twelve">
							<div class="timeline-wrap">
							{% for estudios_no in estudios_no_universitarios %}
								{% if estudios_no.concluyo_estudio_no_universitario %}
									<div class="timeline-block">
										<div class="timeline-ico">
											<i class="fa fa-graduation-cap"></i>
										</div>
										<div class="timeline-header">
											<h3>{{estudios_no.carrera_no_universitaria}}</h3>
											{% if estudios_no.concluyo_estudio_no_universitario %}
											<p>Concluyó estudios: {{estudios_no.concluyo_estudio_no_universitario}}</p>
											{% endif %}
										</div>
										<div class="timeline-content">
											<ul class="info-list uk-text-left">
												{% if estudios_no.centro_estudio_no_universitario != "NULL" %}
												<li>
													<strong>Centro de estudios no universitarios</strong>
													<br>
													<span>
														{{estudios_no.centro_estudio_no_universitario}}
													</span>
												</li>
												{% endif %}
											</ul>
										</div>
									</div>
								{% endif %}
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
			<hr>
			</div>
			<div class="col-twelve">
				<div class="blocktext formacion">
					<h2 class="form-control uk-margin-small-bottom">Estudios Universitarios</h2>
					{% for estudio in estudio_univ %}
						<ul class="info-list uk-margin-small-bottom">
							<li>
								<strong>¿Tiene estudios universitarios?</strong>
								<br>
								{% if estudio.tiene_estudio_universitario == "SI" %}
									<span>
										{{estudio.tiene_estudio_universitario}}
									</span>
								{% else %}
								<span>
									NO
								</span>
								{% endif %}
							</li>
						</ul>
					{% endfor %}
					<div class="row">
						<div class="col-twelve">
							<div class="timeline-wrap">
								{% for estudios_unv in estudios_en_la_u %}
									{% if estudios_unv.tiene_estudio_universitario == "SI" %}
										<div class="timeline-block">
											<div class="timeline-ico"> <i class="fa fa-graduation-cap"></i> </div>
											<div class="timeline-header">
												<h3>{{estudios_unv.carrera_universitaria}}</h3>
												<p>Concluyó estudios: {{estudios_unv.concluyo_estudio_universitario}}</p>
											</div>
											<div class="timeline-content">
												<ul class="info-list uk-text-left uk-margin-small-bottom">
													{% if estudios_unv.universidad %}
													<li>
														<strong>Centro de estudios universitarios</strong>
														<br>
														<span>
															{{estudios_unv.universidad}}
														</span>
													</li>
													{% endif %}
													{% if estudios_unv.anhio_obtencion_universitario %}
													<li>
														<strong>Año de obtención</strong>
														<br>
														<span>
															{{estudios_unv.anhio_obtencion_universitario}}
														</span>
													</li>
													{% endif %}
												</ul>
											</div>
										</div>
									{% endif %}
								{% endfor %}
							</div>
						</div>
					</div>
				</div>
				<hr>
			</div>
			<div class="col-twelve">
				<div class="blocktext formacion">
					<h2 class="form-control uk-margin-small-bottom">Estudios Postgrado</h2>
					{% for estudio in estudio_postgrado %}
						<ul class="info-list uk-margin-small-bottom">
							<li>
								<strong>¿Tiene estudios de postgrado?</strong>
								<br>
								{% if estudio.tiene_postgrado == "SI" %}
									<span>
										{{estudio.tiene_postgrado}}
									</span>
								{% else %}
									<span>
										NO
									</span>
								{% endif %}
							</li>
						</ul>
					{% endfor %}
					<div class="row">
						<div class="col-twelve">
							<div class="timeline-wrap">
								{% for estudios_post in estudios_en_postgrado %}
									{% if estudios_post.tiene_postgrado == "SI" %}
										<div class="timeline-block">
											<div class="timeline-ico">
												<i class="fa fa-graduation-cap"></i>
											</div>
											<div class="timeline-header">
												<h3>{{estudios_post.especialidad}}</h3>
												<p>Concluyó estudios: {{estudios_post.concluyo_estudio_postgrado}}</p>
											</div>
											<div class="timeline-content">
												<ul class="info-list uk-text-left">
													{% if estudios_post.centro_estudio_postgrado != "NULL" %}
													<li>
														<strong>Centro de estudios de postgrado</strong>
														<br>
														<span>
															{{estudios_post.centro_estudio_postgrado}}
														</span>
													</li>
													{% endif %}
													{% if estudios_post.anhio_obtencion_postgrado %}
														<li>
															<strong>Año de obtención</strong>
															<br>
															<span>
																{{estudios_post.anhio_obtencion_postgrado}}
															</span>
														</li>
													{% endif %}
													{% if estudios_post.es_egresado_postgrado %}
														<li>
															<strong>Es egresado</strong>
															<br>
															<span>
																{{estudios_post.es_egresado_postgrado}}
															</span>
														</li>
														{% endif %}
													{% if estudios_post.comentario_estudio_postgrado %}
														<li>
															<strong>Comentario </strong>
															<br>
															<span>
																{{estudios_post.comentario_estudio_postgrado}}
															</span>
														</li>
													{% endif %}
												</ul>
											</div>
										</div>
									{% endif %}
								{% endfor %}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="cargos" class="grey-section">
		<div class="row resume-timeline">
			<div class="col-twelve resume-header">
				<h2>4. Cargos de elección popular</h2>
			</div>
			<div class="col-twelve resume-header">
				<div class="blocktext">
					<ul class="info-list uk-margin-small-bottom">
						<li>
							<strong>¿Tiene cargos de elección popular?</strong>
							<br>
							{% for cargo in carg_eleccion_pop %}
								{% if cargo.tiene_info_por_declarar != "SI" %}
									<span>
										NO
									</span>
								{% else %}
									<span>
										{{cargo.tiene_info_por_declarar}}
									</span>
								{%  endif %}
							{%  endfor %}
						</li>
					</ul>
				</div>
			</div>
			<div class="col-twelve">
				<div class="timeline-wrap">
					{% for cargo_ in cargo_eleccion_popular %}
						{% if cargo_.tiene_info_por_declarar == "SI" %}
							<div class="timeline-block">
								<div class="timeline-ico">
									<i class="fa fa-briefcase"></i>
								</div>
								<div class="timeline-header">
									<h3>{{cargo_.cargo}}</h3>
									<p>{{cargo_.desde_anhio}} - {{cargo_.hasta_anhio}} </p>
								</div>
								<div class="timeline-content">
									<ul class="info-list">
										<li>
											<strong>Comentario</strong>
											<br>
											{% if cargo_.comentario %}
												<span>
													{{cargo_.comentario}}
												</span>
											{% else %}
												<span>
													-
												</span>
											{% endif %}
										</li>
									</ul>
								</div>
							</div>
						{% endif %}
					{% endfor %}
				</div>
			</div>
		</div>
	</section>

	<section id="renuncias">
		<div class="col-twelve resume-header">
			<h2>5. Renuncias efectuadas a otros partidos</h2>
		</div>
		<div class="row section-intro">
			<div class="col-twelve resume-header">
				<div class="blocktext">
					<ul class="info-list uk-margin-small-bottom">
						<li>
							<strong>¿Tiene información por declarar?</strong>
							<br>
							{% for renuncia in ifreuncia %}
								<span>
									{% if renuncia.tiene_info_por_declarar == "SI" %}
										{{renuncia.tiene_info_por_declarar}}
									{% else %}
										NO
									{%  endif %}
								</span>
							{%  endfor %}
						</li>
					</ul>
					<div class="row">
						<div class="col-twelve">
							<div class="timeline-wrap">
								{% for renuncia in renuncias %}
									{% if renuncia.tiene_info_por_declarar == "SI" %}
										<div class="timeline-block inmueble" style="height: 10rem;">
											<div class="timeline-ico">
												<i class="fa fa-briefcase"></i>
											</div>
											<div class="timeline-header">
												<ul class="info-list">
													{% if renuncia.organización_renuncia %}
														<li>
															<strong>Organización a la que renunció </strong>
															<br>
															<span>
																{{renuncia.organización_renuncia}}
															</span>
														</li>
													{% endif %}
												</ul>
											</div>
											<div class="timeline-content">
												<ul class="info-list uk-text-left">
													<li>
															<strong>Comentario </strong>
															<br>
															{% if renuncia.comentario != "" %}
																<span>
																	{{renuncia.comentario}}
																</span>
															{% else %}
																<span>
																	-
																</span>
															{% endif %}
														</li>
												</ul>
											</div>
										</div>
									{% endif %}
								{% endfor %}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="sentencias" class="grey-section">
		<div class="row resume-timeline">
			<div class="col-twelve resume-header">
				<h2>6. Relación de sentencias</h2>
			</div>
			<div class="col-twelve resume-header">
				<div class="uk-grid uk-text-center" uk-grid>
					<div class="uk-width-1-2@m uk-width-1-1@s" >
						<div>
							<div class="col-twelve resume-header uk-margin-top">
								<h2>Sentencia Penal</h2>
								<br>
							</div>
							{% for penal in if_penal %}
								<div class="blocktext">
									<ul class="info-list uk-margin-small-bottom">
										<li class="uk-text-center">
											<strong>¿Tiene información por declarar?</strong>
											<br>
											<span>
												{{penal.tiene_info_por_declarar}}
											</span>
										</li>
									</ul>
								</div>
							{% endfor %}
							{% for sentencia in setencia_penales %}
								{% if sentencia.tiene_info_por_declarar == "SI" %}
									<ul class="info-list uk-text-left">
									{% if sentencia.fallo_pena %}
										<li>
											<strong>Fallo o pena</strong>
											<span>
												{{sentencia.fallo_pena}}
											</span>
										</li>
									{% endif %}
									{% if sentencia.cumplimiento_del_fallo %}
										<li>
											<strong>Cumplimiento del fallo</strong>
											<span>
												{{sentencia.cumplimiento_del_fallo}}
											</span>
										</li>
									{% endif %}
									{% if sentencia.modalidad_penal %}
										<li>
											<strong>Modalidad</strong>
											<span>
												{{sentencia.modalidad_penal}}
											</span>
										</li>
									{% endif %}
									{% if sentencia.n_experiente_penal %}
										<li>
											<strong>N° expediente</strong>
											<span>
												{{sentencia.n_experiente_penal}}
											</span>
										</li>
									{% endif %}
									{% if sentencia.fecha_sentencia_penal %}
										<li>
											<strong>Fecha sentencia firme</strong>
											<span>
												{{sentencia.fecha_sentencia_penal}}
											</span>
										</li>
									{% endif %}
									{% if sentencia.organo_judicial %}
										<li>
											<strong>Órgano judicial</strong>
											<span>
												{{sentencia.organo_judicial}}
											</span>
										</li>
									{% endif %}
									</ul>
								{% endif %}
							{% endfor %}
						</div>
					</div>
					<div class="uk-width-1-2@m uk-width-1-1@s">
						<div>
							<div class="col-twelve resume-header uk-margin-top">
								<h2>Sentencia por Obligación</h2>
								<br>
							</div>
							{% for sentencia in if_oblig %}
							<div class="blocktext">
								<ul class="info-list uk-margin-small-bottom">
									<li class="uk-text-center">
										<strong>¿Tiene información por declarar?</strong>
										<br>
										<span>
											{{sentencia.tiene_info_por_declarar}}
										</span>
									</li>
								</ul>
							</div>
							{% endfor %}
							{% for sentencia in sentencia_obliga %}
								{% if sentencia.tiene_info_por_declarar == "SI" %}
									<div class="uk-margin-medium-bottom">
										<h3>Materia de la demanda</h3>
										<ul class="info-list uk-text-left">
										{% if sentencia.fallo_obliga %}
											<li>
												<strong>Fallo o pena</strong>
												<span>
													{{sentencia.fallo_obliga}}
												</span>
											</li>
										{% endif %}
										{% if sentencia.n_experiente_penal %}
											<li>
												<strong>N° expediente</strong>
												<span>
													{{sentencia.n_experiente_penal}}
												</span>
											</li>
										{% endif %}
										{% if sentencia.organo_judicial %}
											<li>
												<strong>Órgano judicial</strong>
												<span>
													{{sentencia.organo_judicial}}
												</span>
											</li>
										{% endif %}
										</ul>
									</div>
								{% endif %}
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="ingresos">
		<div class="row resume-timeline">
			<div class="col-twelve resume-header">
				<h2>7. Ingresos</h2>
			</div>
			<div class="col-twelve resume-header">
				{% for ingreso in if_ingreso %}
				<div class="blocktext">
					<ul class="info-list uk-margin-small-bottom">
						<li class="uk-text-center">
							<strong>¿Tiene ingresos?</strong>
							<br>
							<span>
								{{ingreso.tiene_ingresos}}
							</span>
						</li>
					</ul>
				{% endfor %}
				{% for ingreso_ in ingresos %}
					{% if renuncia.tiene_info_por_declarar != "NO" %}
						<ul class="info-list">
							<li class="uk-text-center">
								<strong>Año de ingresos</strong>
								<span>
									{{ingreso_.anhio_ingresos}}
								</span>
							</li>
							<li class="uk-text-center">
								<strong>Total ingresos</strong>
								<span>
									S/{{ingreso_.total_ingresos}} soles
								</span>
							</li>
						</ul>
					{% endif %}
				{% endfor %}
			</div>
		</div>
	</section>

	<section id="bienes-inmuebles" class="grey-section">
		<div class="col-twelve resume-header">
			<h2>8. Bienes Inmuebles</h2>
		</div>
		<div class="row section-intro">
			<div class="col-twelve resume-header">
				<div class="blocktext">
					<ul class="info-list uk-margin-small-bottom">
						<li>
							<strong>¿Tiene bienes inmuebles?</strong>
							<br>
							{% for bien_inmu in if_bien_inmueble %}
								<span>
									{{bien_inmu.tiene_inmueble}}
								</span>
							{%  endfor %}
						</li>
					</ul>
					<div class="row">
						<div class="col-twelve">
							<div class="timeline-wrap">
								{% for bien_inmu in bienes_inmuebles %}
									{% if bien_inmu.tiene_inmueble == "SI" %}
										<div class="timeline-block inmueble">
											<div class="timeline-ico">
												<i class="fa fa-home"></i>
											</div>
											<div class="timeline-header">
												<ul class="info-list">
													{% if bien_inmu.esta_inscrito_sunarp %}
														<li>
															<strong>¿El bien inmueble esta inscrito en sunarp?</strong>
															<br>
															<span>
																{{bien_inmu.esta_inscrito_sunarp}}
															</span>
														</li>
													{% endif %}
													{% if bien_inmu.tipo_inmueble %}
														<li>
															<strong>Tipo de inmueble</strong>
															<span>
																{{bien_inmu.tipo_inmueble}}
															</span>
														</li>
													{% endif %}
												</ul>
											</div>
											<div class="timeline-content">
												<ul class="info-list uk-text-left">
													{% if bien_inmu.partida_inmueble_sunarp %}
														<li>
															<strong>Partida del inmueble en sunarp</strong>
															<span>
																{{bien_inmu.partida_inmueble_sunarp}}
															</span>
														</li>
													{% endif %}
													{% if bien_inmu.direccion_inmueble  %}
														<li>
															<strong>Dirección de inmueble</strong>
															<span>
																{{bien_inmu.direccion_inmueble}}
															</span>
														</li>
													{% endif %}
													{% if bien_inmu.comentario_inmueble %}
														<li>
															<strong>Comentarios</strong>
															<span>
																{{bien_inmu.comentario_inmueble}}
															</span>
														</li>
													{% endif %}
												</ul>
											</div>
										</div>
									{% endif %}
								{% endfor %}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="bienes-muebles">
		<div class="col-twelve resume-header">
			<h2>9. Bienes Muebles</h2>
		</div>
		<div class="row section-intro">
			<div class="col-twelve resume-header">
				<div class="blocktext">
					<ul class="info-list uk-margin-small-bottom">
						<li>
							<strong>¿Tiene bienes muebles?</strong>
							<br>
							{% for bien_mue in if_bien_mueble %}
								<span>
									{{bien_mue.tiene_bien_mueble}}
								</span>
							{%  endfor %}
						</li>
					</ul>
					<div class="row">
						<div class="col-twelve">
							<div class="timeline-wrap">
								{% for bien_mueb in bienes_muebles %}
									{% if bien_mueb.tiene_bien_mueble == "SI" %}
										<div class="timeline-block inmueble">
											<div class="timeline-ico">
												<i class="fa fa-car"></i>
											</div>
											<div class="timeline-header">
												<ul class="info-list">
													{% if bien_mueb.vehiculo %}
														<li>
															<strong>Vehículo </strong>
															<span>
																{{bien_mueb.vehiculo}}
															</span>
														</li>
													{% endif %}
													{% if bien_mueb.placa %}
														<li>
															<strong>Placa </strong>
															<span>
																{{bien_mueb.placa}}
															</span>
														</li>
													{% endif %}
												</ul>
											</div>
											<div class="timeline-content">
												<ul class="info-list uk-text-left">
													{% if bien_mueb.valor %}
														<li>
															<strong>Valor </strong>
															<span>
																S/{{bien_mueb.valor}} soles
															</span>
														</li>
													{% endif %}
													{% if bien_mueb.caracteristicas_vehiculo  %}
														<li>
															<strong>Características del vehículo</strong>
															<span>
																{{bien_mueb.caracteristicas_vehiculo}}
															</span>
														</li>
													{% endif %}
													{% if bien_mueb.comentario_vehiculo %}
														<li>
															<strong>Comentarios</strong>
															<span>
																{{bien_mueb.comentario_vehiculo}}
															</span>
														</li>
													{% endif %}
												</ul>
											</div>
										</div>
									{% endif %}
								{% endfor %}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="informacion-adicional" class="grey-section">
		<div class="row resume-timeline">
			<div class="col-twelve resume-header">
				<h2>10. Información Adicional</h2>
			</div>
			<div class="col-twelve resume-header">
				{% for info_ in informacio_adicional %}
				<div class="blocktext">
					<ul class="info-list uk-margin-small-bottom">
						<li class="uk-text-center">
							<strong>¿Tiene informacion adicional que declara?</strong>
							<br>
							<span>
								{{info_.tiene_info_adicional}}
							</span>
						</li>
					</ul>
					{% if info_.tiene_info_adicional != "NO" %}
						<ul class="info-list">
							<li class="uk-text-center">
								<strong>Informacion adicional</strong>
								<br>
								<span>
									{{info_.info}}
								</span>
							</li>
						</ul>
					{% endif %}
				{% endfor %}
			</div>
		</div>
	</section>

	<!-- LOADER -->
	<div id="preloader">
		<div id="loader"></div>
	</div>
	<!-- /LOADER -->

	<div id="go-top"> <a class="smoothscroll" title="Back to Top" href="#top"><i class="fa fa-long-arrow-up"></i></a> </div>
{% endblock %}
{% block js %}
	<script src="{% static "js/variables.js"%}"></script>
	<script src="{% static "js/jquery-2.1.3.min.js"%}"></script>
	<script src="{% static "js/main.js"%}"></script>
	<script src="{% static "js/loader.js"%}"></script>
	<script src="{% static "js/filter_options.js"%}"></script>
{% endblock %}