
{% extends "elecciones/base.html" %}
{% block title %}Nosotros{% endblock %}
{% load static %}
{% block css %}
<!-- CSS FILES -->
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/uikit@latest/dist/css/uikit.min.css">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static "css/nosotros.css" %}">
<link href="{% static "css/loader.css" %}" rel="stylesheet">
<link type="text/css" href="{% static "css/styles.css" %}" rel="stylesheet">
<style>
	.lead {
		font-size: 1.175em;
		font-weight: 300;
	}
	.uk-logo img {
		height: 28px;
	}
</style>
{% endblock %}
{% block content %}
<body>
	<div class="uk-light wrap uk-background-norepeat uk-background-cover uk-background-center-center uk-cover-container uk-background-secondary">
		<img src="{% static "images/fondo-.jpg" %}" alt="" data-uk-cover data-uk-img>
		<div class="uk-flex uk-flex-center uk-flex-middle uk-height-viewport uk-position-z-index uk-position-relative" data-uk-height-viewport="min-height: 400" style="background-color: rgba(0, 0, 0, 0.5);">
			<!-- NAV -->
			<div class="uk-position-top">
				<div class="uk-container uk-container-small">
					<nav class="uk-navbar-container uk-navbar-transparent" data-uk-navbar>
						<div class="uk-navbar-left">
							<div class="uk-navbar-item">
								<a class="uk-logo" href="{% url 'elecciones:mainpage' %}"><img src="{% static "images/logos/ELEGIMOS_blanco.png" %}" alt="Logo"></a>
							</div>
						</div>
						<div class="uk-navbar-right">
							<ul class="uk-navbar-nav uk-visible@m">
								<li><a class="nav_options" href="{% url 'elecciones:mainpage' %}">Inicio</a></li>
								<li><a class="nav_options" href="{% url 'elecciones:analisisIA' %}">Análisis IA</a></li>
								<li><a class="nav_options" href="{% url 'elecciones:analisisGraficos' %}">Análisis de datos</a></li>
								<li>
									<a class="nav_options" href="#" data-uk-icon="chevron-down">Búsqueda</a>
									<div class="uk-navbar-dropdown">
										<ul class="uk-nav uk-navbar-dropdown-nav">
											<li>
												<a style="font-size: 16px;" href="#" onclick="activar_candidatos(this.text)">Presidencial</a>
											</li>
											<li>
												<a style="font-size: 16px;" href="#" onclick="activar_candidatos(this.text)">Congresales</a>
											</li>
											<li>
												<a style="font-size: 16px;" href="#" onclick="activar_candidatos(this.text)">Parlamento Andino</a>
											</li>
											<li>
												<a style="font-size: 16px;" href="#" onclick="activar_organizaciones(this.text)">Organización Política</a>
											</li>
										</ul>
									</div>
								</li>
							</ul>
							<ul class="uk-navbar-nav uk-hidden@m">
								<li><a class="uk-navbar-toggle" data-uk-toggle data-uk-navbar-toggle-icon href="#offcanvas-nav"></a></li>
							</ul>
						</div>
					</nav>
				</div> 
			</div>
			<!-- /NAV -->
			<div class="uk-container uk-container-small uk-flex-auto uk-text-center" data-uk-scrollspy="target: > .animate; cls: uk-animation-slide-bottom-small uk-invisible; delay: 300">
				<h1 class="uk-heading-primary animate uk-invisible" style="font-weight: 700;">NOSOTROS</h1>
				<!--
				<div class="uk-width-4-5@m uk-margin-auto animate uk-invisible">
					<p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ad, reiciendis maxime, facilis nam natus incidunt provident.</p>
				</div>
			-->
				<div class="uk-margin-small-top animate uk-invisible" data-uk-margin data-uk-scrollspy-class="uk-animation-fade uk-invisible">
					<a href="#conocer" class="uk-button uk-button-default uk-button-medium uk-width-2-3 uk-width-auto@s uk-text-uppercase" data-uk-icon="arrow-down" data-uk-scroll="duration: 500" title="Conócenos">Conócenos</a>
				</div>
			</div> 
			</div>
	</div>
	<!--SECTION-->
	<section id="conocer" class="uk-section uk-section-small">
		<div class="uk-container ">
			<div class="uk-child-width-1-2@m" uk-grid>
				<div class=" uk-text-center uk-text-right@m">
					<!--<h6>SIMPLIFY THINGS</h6>-->
					<h2 class="uk-margin-small-top ">Alexandra Shulca Romero</h2>
					
					<a href = "mailto:alexandra.shulca@utec.edu.pe">Correo: alexandra.shulca@utec.edu.pe</a>

					<div>
						<a target="blank" href="https://www.instagram.com/alexandra.804/" class="uk-icon-button uk-margin-small-right" uk-icon="instagram"></a>					
						<a target="blank" href="https://www.linkedin.com/in/alexandra-shulca-romero-9b6b11207/" class="uk-icon-button uk-margin-small-right" uk-icon="linkedin"></a>					
						<a target="blank" href="https://github.com/Alexandra-SR" class="uk-icon-button uk-margin-small-right" uk-icon="github"></a>	
					</div>
					<!--<a href="#" class="uk-button uk-button-primary uk-border-pill" data-uk-icon="arrow-right">Ver más</a>-->
				</div>
				<div class="uk-flex-first uk-flex-last@m uk-width-1-2@s uk-margin-auto div-image" data-uk-scrollspy="cls: uk-animation-fade">
					<img class= "uk-align-center uk-box-shadow-xlarge uk-border-circle foto" src="{% static "images/ale.jpeg" %}" data-uk-img alt="Image">
				</div>
			</div>
		</div>
	</section>
	<!--FIN SECTION-->
	<!--SECTION-->
	<section class="uk-section uk-section-small">
		<div class="uk-container grey-container">				
			<div class="uk-child-width-1-2@m " uk-grid>
			<div class="uk-flex-first uk-width-1-2@s uk-margin-auto div-image" data-uk-scrollspy="cls: uk-animation-fade">
					<img class= "uk-align-center uk-box-shadow-xlarge uk-border-circle foto" src="{% static "images/esteban-.jpeg" %}" data-uk-img alt="Image">
			</div>	
				<div class="uk-text-center uk-text-left@m">
					<h2 class="uk-margin-small-top ">
					Esteban Principe Ventosilla
					</h2>
					
					<a href = "mailto:esteban.principe@utec.edu.pe">Correo: esteban.principe@utec.edu.pe</a>
					
					<div>
						<a target="blank" href="https://www.instagram.com/miunmnn/" class="uk-icon-button uk-margin-small-right" uk-icon="instagram"></a>					
						<a target="blank" href="https://www.linkedin.com/in/esteban-alejandro-principe-ventosilla-065559193/" class="uk-icon-button uk-margin-small-right" uk-icon="linkedin"></a>					
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--FIN SECTION-->
	<!--SECTION-->
	<section class="uk-section uk-section-small">
		<div class="uk-container ">
			<div class="uk-child-width-1-2@m" uk-grid>
				<div class=" uk-text-center uk-text-right@m">
					<!--<h6>SIMPLIFY THINGS</h6>-->
					<h2 class="uk-margin-small-top">
						Grace Nikole Alvarado Salazar
					</h2>
					<a href = "mailto:grace.alvarado@utec.edu.pe">Correo: grace.alvarado@utec.edu.pe</a>
					<div class="grey-contact">
						<a target="blank" href="https://twitter.com/GraceNikole" class="uk-icon-button uk-margin-small-right" uk-icon="twitter"></a>
						<a target="blank" href="https://www.instagram.com/mistyblunch/" class="uk-icon-button uk-margin-small-right" uk-icon="instagram"></a>					
						<a target="blank" href="https://www.linkedin.com/in/grace-nikole/" class="uk-icon-button uk-margin-small-right" uk-icon="linkedin"></a>					
						<a target="blank" href="https://github.com/gracenikole" class="uk-icon-button uk-margin-small-right" uk-icon="github"></a>	
						<a target="blank" href="https://www.youtube.com/channel/UCoKBkoGknv8JQOsjcRgs-tw" class="uk-icon-button uk-margin-small-right" uk-icon="youtube"></a>	
					</div>
					<!--<a href="#" class="uk-button uk-button-primary uk-border-pill" data-uk-icon="arrow-right">Ver más</a>-->
				</div>
				<div class="uk-flex-first uk-flex-last@m uk-width-1-2@s uk-margin-auto div-image" data-uk-scrollspy="cls: uk-animation-fade">
					<img class= "uk-align-center uk-box-shadow-xlarge uk-border-circle foto" src="{% static "images/grace-.jpg" %}" data-uk-img alt="Image">
				</div>
			</div>
		</div>
	</section>
	<!--FIN SECTION-->
	<!--SECTION-->
	<section class="uk-section uk-section-small">
		<div class="uk-container grey-container">				
			<div class="uk-child-width-1-2@m " uk-grid>
			<div class="uk-flex-first uk-width-1-2@s uk-margin-auto div-image" data-uk-scrollspy="cls: uk-animation-fade">
					<img class= "uk-align-center uk-box-shadow-xlarge uk-border-circle foto" src="{% static "images/roosevelt.jpg" %}"  data-uk-img alt="Image">
			</div>	
				<div class="uk-text-center uk-text-left@m">
					<h2 class="uk-margin-small-top">
					Roosevelt Ubaldo Chavez
					</h2>
					<a href = "mailto:roosevelt.ubaldo@utec.edu.pe">Correo: roosevelt.ubaldo@utec.edu.pe</a>
					<div  class="grey-contact">
						<a target="blank" href="https://www.linkedin.com/in/rubaldo/" class="uk-icon-button uk-margin-small-right" uk-icon="linkedin"></a>					
						<a target="blank" href="https://github.com/rjhans7" class="uk-icon-button uk-margin-small-right" uk-icon="github"></a>	
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--FIN SECTION-->
	
	<!--SECTION-->
	<section class="uk-section uk-section-small no-padding">
		<div class="uk-container black-container ">
			<div class="uk-child-width-1-2@m" uk-grid>
				<div class=" uk-text-center uk-text-right@m">
					<!--<h6>SIMPLIFY THINGS</h6>-->
					<h2 class="uk-margin-small-top white">
						Prof. Jorge Gonzalez, Computer Science, UTEC
					</h2>
					<a href = "mailto:jgonzalez@utec.edu.pe">Correo: jgonzalez@utec.edu.pe</a>
					<div class="grey-contact">
						<a target="blank" href="https://www.linkedin.com/in/jorge-gonz%C3%A1lez-8aa721201/" class="uk-icon-button uk-margin-small-right" uk-icon="linkedin"></a>	
					</div>
					<!--<a href="#" class="uk-button uk-button-primary uk-border-pill" data-uk-icon="arrow-right">Ver más</a>-->
				</div>
				<div class="uk-flex-first uk-flex-last@m uk-width-1-2@s uk-margin-auto div-image" data-uk-scrollspy="cls: uk-animation-fade">
					<img class= "uk-align-center uk-box-shadow-xlarge uk-border-circle foto" src="{% static "images/jorge.jpg" %}" data-uk-img alt="Image">
				</div>
			</div>
		</div>
	</section>
	<!--FIN SECTION-->
	<!--FOOTER-->
	<footer class="uk-section uk-section-small uk-section-muted no-padding">
		<div class="uk-container footer">
			<p class="uk-text-small uk-text-center">Copyright © Elegimos 2021</p>
		</div>
	</footer>
	<!--/FOOTER-->
		
	<!-- OFFCANVAS -->
	<div id="offcanvas-nav" data-uk-offcanvas="flip: true; overlay: false">
		<div class="uk-offcanvas-bar uk-offcanvas-bar-animation uk-offcanvas-slide">
			<button class="uk-offcanvas-close uk-close uk-icon" type="button" data-uk-close></button>
			<ul class="uk-nav uk-nav-default">
				<li style="font-size: 18px; color:#ffffff" class="uk-nav-header">Opciones</li>
				<li>
					<a style="font-size: 16px; color:#ffffff" href="{% url 'elecciones:analisisIA' %}">
						<span class="uk-margin-small-right" data-uk-icon="icon: thumbnails"></span>
						Análisis IA
					</a>
				</li>
				<li>
					<a style="font-size: 16px; color:#ffffff" href="{% url 'elecciones:analisisGraficos' %}">
						<span class="uk-margin-small-right" data-uk-icon="icon: thumbnails"></span>
						Análisis de Datos
					</a>
				</li>
				<li>
					<a style="font-size: 16px; color:#ffffff">
						<span class="uk-margin-small-right" data-uk-icon="icon: thumbnails"></span>
						Búsqueda
					</a>
					<li>
						<a class="uk-margin-medium-left" style="font-size: 15px; color:#ffffff;" onclick="activar_candidatos(this.text)">Presidencial</a>
					</li>
					<li>
						<a class="uk-margin-medium-left" style="font-size: 15px; color:#ffffff;" onclick="activar_candidatos(this.text)">Congresales</a>
					</li>
					<li>
						<a class="uk-margin-medium-left" style="font-size: 15px; color:#ffffff;" onclick="activar_candidatos(this.text)">Parlamento Andino</a>
					</li>
					<li>
						<a class="uk-margin-medium-left" style="font-size: 15px; color:#ffffff;" onclick="activar_organizaciones(this.text)">Organización Política</a>
					</li>
				</li>
			</ul>
		</div>
	</div>
	<!-- /OFFCANVAS -->
	<!-- LOADER -->
  <div id="preloader">
		<div id="loader"></div>
	</div>
  <!-- /LOADER -->
{% endblock %}
{% block js %}
<!-- JS FILES -->
<script src="/static/js/filter_options.js"></script>
<script src="/static/js/variables.js"></script>
<script src="/static/js/jquery-2.1.3.min.js"></script>
<script src="/static/js/loader.js"></script>
{% endblock %}
