@import url("fonts.css");

/* -- Colors -- */
.bg_red {
	background-color: rgb(255 255 255);
}

#content .uk-container .card_results {
	box-shadow: rgb(205 213 223 / 56%) 0px 9px 24px;
}

.seleccion_container {
	padding: 1rem 0;
}

.uk-close.uk-icon {
	border: 1px solid #fff;
	border-radius: 15px;
	top: 10px;
	right: 10px;
}

.option_badge {
	margin: .2rem .5rem;
	border: 1px solid rgba(182, 34, 34, 0.50);
	color: #666;
	font-size: 15px;
	border-radius: 15px;
	padding: .3rem .5rem;
	line-height: 13px;
	text-align: center;
}

.view_details_btn {
	width: fit-content;
	height: fit-content;
	background: #b62222;
	padding: 0.4rem;
	color: white;
	border-radius: 6px;
}

ul#opciones_candidatos li.nav-options a.nav_opt {
	/* min-height: auto;
	padding: 15px; */
	font-size: 16px;
}

.aside_options, 
#filtros_candidatos li.nav-options a.nav_opt, 
#filtros_organizaciones li.nav-options a.nav_opt {
	font-size: 18px;
	color: #fff;
}



#offcanvas-nav .filter_options select, #offcanvas-nav  .filter_options label {
	font-size: 16px;
	color: #fff;
}

/* #offcanvas-nav .filter_options select.opt_select {
	border: 1px solid #dbdbdb;
} */

.view_details_btn:hover {
	text-decoration: none;
	color: white;
}

ul.uk-navbar-nav li.nav-options a {
	color: #fff;
}

.uk-text-bold {
	color: #000000  !important;
}

#orden_genero_container {
	display: none;
}
#orden_edad_container{
	display: none;
}
#home-cont{
	padding-top: 2.5%;
	margin-left: 2%;
}
/* -- No hover -- */
.no-text-styles-hover:hover {
	text-decoration: none;
}

/* -- No Results Container -- */
.uk-container.no-results-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 75vh;
}

h5#text_info {
	line-height: 26px;
	font-family: 'poppins-light';
}

#video_explanation {
	line-height: 20px;
}

.uk-background-secondary {
    background-color: rgb(9 19 81);
}

/* -- Top navigation -- */
#top-head {
	z-index: 9;
	top: 0;
	left:0;
	right:0;
}
/* -- Candidato Sidebar --*/
#offcanvas-nav .uk-offcanvas-bar.candidatos-sidebar {
	right: auto;
	left: 0;
	top: 0px;
	background: #f7f7f7;
	overflow-x: hidden;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}

a#video_explanation {
	width: auto !important;
	border: 1px solid #a0a0a0;
	padding: 0 1rem;
}

/* Smaller Header */
.uk-navbar-nav > li > a,
.uk-navbar-item,
.uk-navbar-toggle {
	/* navbar height */
  min-height: 52px;
  padding: 0 8px;
  font-size: 0.85rem;
}
.navbar-logo {
	background-color: #222;
	margin-left: -12px;
}
/* Left bar */
#left-col {
  position: fixed;
  left: 0;
  top: 0px;
  bottom:0;
  overflow-x: hidden;
  overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
  background-color: #8e0707;
	/* box-shadow: inset -1px 0 0 #dbdbdb; */
  width: 285px;
  z-index:2;
  transition: height 0.3s ease-out;
}
/* Left bar links */
#left-col ul.uk-nav.uk-nav-default > li.uk-parent > a.aside_options  {
	padding: 8px 20px;
	border-left: 2px solid transparent;
	transition: all 0.15s ease-out;
	color: #fff;
}
#left-col ul.uk-nav-default li.uk-nav-header {
	padding:  20px 20px 8px 20px;
	color: #fff;
	font-size: 18px;
}
#left-col ul.uk-nav.uk-nav-default > li.uk-parent > a.aside_options:hover, #left-col ul.uk-nav-default > li.uk-open > a  {
	border-left: 2px solid #fff;
	padding-left: 30px;
	color: #fff;
	background-color: #0000003d;
}
#left-col ul.uk-nav-default li .uk-nav-sub {
	padding-left: 34px;
}
#left-col .uk-dropdown.user-drop {
	min-width: 160px;
	max-width: 160px;
	padding: 0.75rem;
}

/* Trash Icon */
.filter_options a.trash_icon {
	color: #fff;
}

/* Drop arrow */
#left-col .uk-dropdown.user-drop:after {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #fff;
	border-width: 4px;
	margin-left: -4px;
}
.left-content-box {
	padding: 0.75rem 20px;
	border-top: 1px solid rgba(255,255,255,0.06);
	margin-bottom: -1px;
}
.left-nav-wrap {
	padding-bottom: 60px;
}
.content-box-dark {
	background-color: rgba(0,0,0,0.09);
}
.text-light {
	font-weight: 200;
	font-size: 1.25rem;
}
.bar-bottom {
	border-top: 1px solid rgba(255,255,255,0.07);
	padding: 15px 0;
	background-color: #222;
	position: fixed;
	left: 0;
	right: 0;
	z-index: 3;
	bottom: 0;
	width: 285px;
}
.left-logo {
	/* navbar height */
	height: 52px;
	line-height: 52px;
	padding: 0 20px;
}
.custom-logo {
	height: 32px;
}
.profile-img {
	width: 60px;
	margin: 0 auto 10px auto;
	display: block;
}
.panel-icons {
	margin: 0 4px;
}
.uk-tooltip {
	background-color: white;
	color: #242C33;
	box-shadow: 0 2px 12px rgba(50,50,50,0.1);
}
#content {
	margin-top: 52px;
	padding: 0 0 0 0;
	background-color: #f7f7f7;
	margin-left: 0;
	transition: margin 0.2s cubic-bezier(.4,0,.2,1);
}

#filtros_seleccionados {
	flex-wrap: wrap;
}

@media screen and (min-width: 960px){
	#content {
		/* equal to left-col width */
		margin-left: 285px;
	}
	#top-head {
		left: 285px;
	}
}

#offcanvas-nav {
	display: flex;
}
#offcanvas-nav .candidatos-sidebar {
	width: 285px;
}

@media screen and (max-width: 639px){
	.candidato-card .uk-grid-small>* {
		padding-left: 0 !important;
	}
}

@media screen and (max-width: 959px){
	.nav-options {
		padding: 0 20px;
	}

	#offcanvas-nav {
		display: none;
	}
	/* -- Filtros Text -- */
	ul.uk-navbar-nav li a.filtros-text {
		min-height: 52px;
	}
	.spacer_mob {
		height: 15px;
	}

	#filtros_seleccionados {
		flex-direction: column;
		margin: auto;
	}

	#left-col {
		position: relative;
	}
}

#top-head [class*="uk-navbar-dropdown-bottom"] {
	margin-top: 0;
}

/* Search nav */
.search-field {
	width: 140px;
	-webkit-transition: all 0.25s cubic-bezier(0.175, 0.885, 0.320, 1.275);
	transition: all 0.25s cubic-bezier(0.175, 0.885, 0.320, 1.275);
}
.search-field:focus {
	width: 200px;
	border-color: #fff !important;
}
.uk-heading-primary {
  letter-spacing: -0.032em;
  font-weight: 300;
}
/* Progress */
.uk-progress {
	height: 3px;
	margin-bottom: 0.5rem;
	background-color: rgba(0,0,0,0.23);

}
* + .uk-progress {
    margin-top: 0.25rem;
}
.uk-progress.warning::-webkit-progress-value {
  background-color: #faa05a;
}
.uk-progress.warning::-moz-progress-bar {
  background-color: #faa05a;
}
.uk-progress.warning::-ms-fill {
  background-color: #faa05a;
}
.uk-progress.success::-webkit-progress-value {
  background-color: #32d296;
}
.uk-progress.success::-moz-progress-bar {
  background-color: #32d296;
}
.uk-progress.success::-ms-fill {
  background-color: #32d296;
}
/* Charts */
.chart-container {
	position: relative;
	height: 300px;
	margin: 0 auto;
}


.uk-accordion-title {

    font-size: 1.4rem;
   
}